@font-face {
    font-family: Lato;
    font-weight: 300;
    src: url('@infrastructure/ui/scss/font/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: Lato;
    font-weight: 500;
    src: url('@infrastructure/ui/scss/font/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato;
    font-weight: 800;
    src: url('@infrastructure/ui/scss/font/Lato/Lato-Bold.ttf');
}