@import 'variables';

@font-face {
    font-family: Lato;
    font-weight: 300;
    src: url('@app/scss/font/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: Lato;
    font-weight: 500;
    src: url('@app/scss/font/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato;
    font-weight: 800;
    src: url('@app/scss/font/Lato/Lato-Bold.ttf');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main !important;
}

a {
    text-decoration: none !important;
    color: $color-main !important;
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
        color: $color-main-light !important;
    }
}

.container-login-wrapper {
    max-width: 350px;
}

.letter-spacing-normal {
    letter-spacing: .3px;
}

.letter-spacing-heading {
    letter-spacing: .6px;
}