@import 'variables';

@font-face {
    font-family: Lato;
    font-weight: 300;
    src: url('./font/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: Lato;
    font-weight: 500;
    src: url('./font/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato;
    font-weight: 800;
    src: url('./font/Lato/Lato-Bold.ttf');
}

body {
    font-family: $font-main !important;
}

a {
    text-decoration: none !important;
}